
<div class="container">
			<div class="row">
				<div class="col-12">

					<h1 class="home__title"><b>НОВИНКИ</b> ЗА ПОСЛЕДНЕЕ ВРЕМЯ</h1>


					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>

				<div class="col-12">
					<div class="owl-carousel home__carousel">


						<div class="item">
							<!-- card -->

							<div class="card card--big">
								<div class="card__cover">{% for movie in last_movies %}
									<img src="{{ movie.poster.url }}" alt="">
									<a href="#" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h3>
									{% endfor %}
									<span class="card__category">
										<a href="#">
													{% for genre in movie.genres.all %}
													{{ genre.name }}
													{% endfor %}
										</a>

									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
								</div>

							</div>
						<!-- end card -->
						</div>


					</div>

				</div>

			</div>

		</div>
