{% extends 'base.html' %}

{% block content %}
{% load static %}
	<!-- home -->
	<section class="home">
		<!-- home bg -->
		<div class="owl-carousel home__bg">
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg.jpg' %}"></div>
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg2.jpg' %}"></div>
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg3.jpg' %}"></div>
			<div class="item home__cover" data-bg="{% static 'img/home/home__bg4.jpg' %}"></div>
		</div>
		<!-- end home bg -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="home__title" style="color:#FF00CC"><b>НОВИНКИ ЗА ПОСЛЕДНЕЕ ВРЕМЯ</b> </h1>

					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
				<div class="col-12">
					<div class="owl-carousel home__carousel">
				{% for movie in movie_list %}
						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ movie.poster.url }}" alt="">
									<a href="{% url 'movie_detail' movie.pk %}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'movie_detail' movie.pk %}">{{ movie.title }}</a></h3>
									<span class="card__category">
										<a href="{% url 'movie_detail' movie.pk %}">
													{% for genre in movie.genres.all %}
													{{ genre.name }}{% if not forloop.last %},{% endif %}
													{% endfor %}
										</a>
									</span>
								</div>
							</div>
							<!-- end card -->
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->
	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title" style="color:#FF00CC;">НОВИНКИ ЗА ПОСЛЕДНЕЕ ВРЕМЯ</h2>
						<!-- end content title -->
						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true" style="color:#FF00CC;">Все категории</a>
							</li>
						</ul>
						<!-- end content tabs nav -->
						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="New items">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true" style="color:#00FF00;">Все категории</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<!-- content tabs -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
					<div class="row">
						<!-- card -->
						{% for movie in movie_list %}
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
											<img src="{{ movie.poster.url }}" alt="">
											<a href="{% url 'movie_detail' movie.pk %}" class="card__play">
												<i class="icon ion-ios-play"></i>
											</a>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a style="color:white;" href="{% url 'movie_detail' movie.pk %}">{{ movie.title }}</a></h3>
											<span class="card__category" style="color:#FF00CC;">
												<a href="{% url 'movie_detail' movie.pk %}">
													{% for genre in movie.genres.all %}
													{{ genre.name }}{% if not forloop.last %},{% endif %}
													{% endfor %}
												</a>
											</span>

											<div class="card__wrap">
												<ul class="card__list" style="margin-left: -0em;">
													<li>{{ movie.age_category }}+</li>
													<li>{{ movie.year }}</li>
													<li>{{ movie.country }}</li>
									<li><a href="{{ movie.trailer_url }}">ПОСМОТРЕТЬ ТРЕЙЛЕР</a></li>
												</ul>
											</div>

											<div class="card__description">
												<p>{{ movie.description|safe }}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<!-- end card -->
					</div>
				</div>
			<!-- end content tabs -->
		</div>
	</section>
	<!-- end content -->
	<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="home__title" style="color:#FF00CC;"><b>АКТЁРЫ И РЕЖИССЁРЫ</b> </h1>

					<button class="home__nav home__nav--prev" type="button">
						<i class="icon ion-ios-arrow-round-back"></i>
					</button>
					<button class="home__nav home__nav--next" type="button">
						<i class="icon ion-ios-arrow-round-forward"></i>
					</button>
				</div>
				<div class="col-12">
					<div class="owl-carousel home__carousel">
				{% for config in movie_list %} {% for actor in config.actors.all %}
						<div class="item">
							<!-- card -->
							<div class="card card--big">
								<div class="card__cover">
									<img src="{{ actor.image.url }}" width="300" height="350" alt="">
									<a href="{{ actor.get_absolute_url }}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{{ actor.get_absolute_url }}">{{ actor.name }}</a></h3>
									<span class="card__category">
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>{{ actor.age }} года/лет</span>
								</div>
							</div>
							<!-- end card -->
						</div>
						{% endfor %}{% endfor %}
					</div>
				</div>
			</div>
		</div>
				<div class="col-6 col-sm-4 col-md-3 col-lg-2">
					<a href="#" class="partner">
						<img src="{% static 'img/logo.png' %}" alt="" class="partner__img">
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}